.card__content-baked-goods {
  padding-top: 100px;
  padding-bottom: 100px;
}

/*Typography 3: */
.card__title {
  /*display: flex;*/
  margin-left: 40px; /*to align the titles: Filter, Espresso, etc with the card__list-item elements*/
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

/*Typography 4: */
.card__list-item {
  display: flex;
  flex-direction: column; /* this makes the column the main axis and cross axis is then row */
  font-family: Noto serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.card__coffee-size {
  display: flex;
  flex-direction: row;
}

.card__list-divider {
  border-bottom: 1px solid rgb(255, 255, 255);
  flex-grow: 0.7; /*affects the length of the list-divider ( underscore )*/
}
