.form {
  /*display: block;*/ /*redundant...already in .reservation __form*/
  /*column-gap: 29px; /* won't work without display: flex; */
  /*text-align: center;*/
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 385px;
  margin-bottom: 120px; /*added 120px of margin-bottom as stated in brief*/
}

.form__fieldset {
  padding: 0;
  color: #000000;
  border: none;
  margin: auto;
}

.form__label {
  /*Typography: 2 */
  /*display: flexbox;*/ /*per code review*/
  /*justify-content: center;*/
  /*align-items: center;*/
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px; /* corrected to 16px per code review */
  font-weight: 500;
  line-height: 20px;
}

.form__input {
  /*margin-left: 20px;*/
  height: 60px;
  margin-top: 8px;
  /*Typography: 3 */
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px; /* corrected to 20px per code review */
  font-weight: normal;
  line-height: 30px;
  width: 385px;
  margin-bottom: 32px; /* .form__input_type_checkbox inherit's this value */
  vertical-align: middle;
  box-sizing: border-box; /*centers things*/
  border-radius: 4px;
  border: 1px solid #838383; /* correction: added specified color to border */
  padding-left: 15px; /* pushes the placeholder text from the left-side 15px */
  color: #838383; /* correction: added font color stated in brief per code review */
}

.form__input_type_checkbox {
  /* changed to key/value modifier */
  width: 20px;
  height: 20px;
  margin-right: 12px;
  border-radius: 2px;
  /*vertical-align: auto;*/
  /*margin-bottom: 10px;*/ /*Removed redundant margin-bottom already in the .form*/
  margin-top: 30px; /*for the sake of vertically aligning checkbox with label*/
} /* the checkbox is a child of the .form__label */

.form__button {
  width: 385px;
  height: 60px;
  margin-bottom: 32px;
  background-color: #2f80ed;
  color: #ffffff;
  border-radius: 4px;
  transition: opacity ease-in-out 0.3s;
  opacity: 100%;
  padding: 0;
  border: none;
  font-weight: 500;
  /*Typography: 4 */
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.form__button:hover {
  opacity: 70%;
}

.form__fieldset:last-of-type {
  display: flex;
  justify-content: center;
}

.form__input::placeholder {
  color: #838383; /*placeholder text color per brief*/
}
