.form__fieldset {
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 30px;
  /*max-width: 385px;*/
  padding: 0;
  color: #838383;
  border: none;
  margin-left: 0;
  margin-right: 0;
}

.form__label {
  display: inline;
  max-width: 385px;
  /*Typography: 2 */
  font-family: Inter;
  font-size: normal;
  font-weight: 500;
  line-height: 20px;
  padding-bottom: 8px;
  margin: auto;
}

.form__input {
  /*margin-left: 20px;*/
  height: 60px;
  margin-top: 8px;
  /*Typography: 3 */
  font-family: Inter;
  font-size: normal;
  font-weight: normal;
  line-height: 30px;
  width: 385px;
  margin-bottom: 32px;
}

.form__input-checkbox {
  width: 20px;
  height: 20px;
  margin-left: 62px;
  border-radius: 2px;
  background-color: #2f80ed;
  background-image: url("../images/check.svg");
}

.form__input-checkbox-label {
  margin-left: 12px; /*this is for the <span> 12px away from checkbox on the left */
}

.form__button {
  width: 385px;
  height: 60px;
  margin-bottom: 30px;
  background-color: #2f80ed;
  color: #ffffff;
  border-radius: 4px;
  transition: opacity ease-in-out 0.3s;
  opacity: 100%;
  /*Typography: 4 */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button:hover {
  opacity: 70%;
}
/* END OF FORM ELEMENTS */
