/* HEADER BLOCK */

/* Task 1: Header styling in brief. Header is the viewport */
.header {
  height: 100vh; /* 100% of the viewport for screens sizes of 720px - 800px*/
  min-height: 720px;
  max-height: 800px;
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /*border: 2px dashed red; /* just to check alignment of elements */
}

/* 1.Header task 7:  typography: 3 */
.header__title {
  display: block;
  color: #000000;
  position: absolute;
  top: 202px;
  left: 80px;
  font-family: Inter; /* already inherited from .page parent class */
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 28px;
}

/* 1.Header task 8: typography: 4 */
.header__description {
  max-width: 683px;
  /*margin: 202px 50px 20px 80; /*shorthand: top, right, bottom, left */
  position: absolute;
  top: 350px;
  left: 80px;
  font-family: Noto serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

/* 1.Header task 7: span tag portion  typography: 2 */
.header__span-accent {
  font-family: "Noto Serif", "Times New Roman" sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 10px;
  color: #2f80ed;
}

.header__image {
  max-width: 646px;
  max-height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

/* typography: 5 */
.header__paragraphs {
  /* display: flex;
    justify-content: flex-end; */
  /*border: 2px solid #17cd32; /* just to check alignment of elements */
  position: absolute;
  bottom: 40px;
  left: 80px;
  width: 95%; /* to make room to push address p tag far to the right */
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px; /* already inherited from .page parent class */
  line-height: 20px; /* already inherited from .page parent class */
}

.header__paragraph {
  /*border: 2px double #e65019; /* just to check alignment of elements */
  margin: 0;
  padding: 0;
}

/* BEM: block__element_key_value (modifier) */
.header__paragraph_content_address {
  position: absolute;
  right: 80px;
  margin-bottom: 40px;
}

/* Task 1: Header: step 1 (logo block) in brief */
.logo {
  width: 125px;
  height: 142px;
  position: absolute;
  top: 30px;
  left: 30px;
}
