.menu {
  /*padding-top: 100px;*/ /* this is what was making the padding-top be 200px total*/
  background-image: url("../images/background_menu.svg");
  background-color: #0a2750;
  /*padding-bottom: 100px; */ /* this is what was making the padding-bottom be 200px total*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Typography 1: */
.menu__title {
  color: #ffffff;
  margin: 0 auto; /* shorthand: top/bottom   left/right */
  text-align: center;
  font-family: "Inter", Arial, sans-serif; /*added fallback and generic fonts*/
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  padding-top: 100px;
  padding-bottom: 24px;
}

/*Typography 2: */
.menu__subtitle {
  max-width: 780px;
  color: #ffffff;
  margin: 0 auto; /* shorthand: top/bottom   left/right */
  text-align: center;
  font-family: "Noto serif", "Times New Roman", serif; /* including fallback fonts */
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  margin-left: 0; /* removing manual setting of margins per code review */
  max-width: 100vw; /*to stretch out the card list-dividers ( the underscores )*/
  color: #ffffff;
  display: flex; /* this establishes a row by default making the main axis (x) */
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 100px;
  list-style: none;
  gap: 100px; /* adjusts the cross axis which is in this case col (y) */
  /* setting browser default margins to default per code review */
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  padding-left: 0; /* also removed default padding-left per code review */
}
