.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto; /* so the block is centered for screens over 1600px wide ?? */
  font-family: "Inter", Arial, sans-serif; /*including fallback fonts as per code review*/
  font-size: 16px;
  line-height: 20px;
}
