/* Brief: task 3 Section: Recipes */
.recipes {
  background-color: #ffffff;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*border: 2px solid #e65019;*/
}

/* Recipe Typography 1: */
.recipes__title {
  max-width: 580px;
  margin-left: 80px;
  margin-top: 100px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

/* Recipe Typography 2: */
.recipes__subtitle {
  margin-left: 80px;
  margin-bottom: 80px;
  font-family: Noto serif;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
}

/* .recipe__videos element containing the two videos */
.recipes__videos {
  display: flex;
  justify-content: space-around;
  /*flex-grow: 630px;*/
  flex-wrap: wrap;
  max-width: 1200px;
  align-items: center;
  margin-left: 170px;
  margin-bottom: 215px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  margin-bottom: 24px;
}

/* 3. Recipe Typography 3: */
.recipes__video-caption {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
  column-gap: 220px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
