/* 4. reservation section */
/* START OF FORM ELEMENTS */
.reservation {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  align-content: center;
  background-image: url("../images/background_reservation.svg");
  background-color: rgb(222, 236, 247);
}

.reservation__title {
  margin: 0 auto; /*should be centered, removed the margin per code review*/
  max-width: 300px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 80px;
  /*Typography 1: */
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  display: block;
  width: 385px;
  /*column-gap: 29px; /* won't work without display: flex; */
  /*text-align: center;*/
  margin: 0 auto;
}

/*
.reservation__form-fieldset {
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 30px;
  padding: 0;
  color: #838383;
  border: none;
  margin-left: 0;
  margin-right: 0;
}
*/
