@import "../vendor/normalize.css";

/* step 6 */
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto; /* so the block is centered for screens over 1600px wide ?? */
  font-family: "Inter", "Arial" sans-serif;
  font-size: 16px;
  line-height: 20px;
}

/* PART OF THE STRUCTURE OF WEBPAGE */
/* Task 1: Header styling in brief. Header is the viewport */
.header {
  height: 100vh; /* 100% of the viewport for screens sizes of 720px - 800px*/
  min-height: 720px;
  max-height: 800px;
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: 2px dashed red; /* just to check alignment of elements */
}

/* 1.Header task 7:  typography: 3 */
.header__title {
  display: block;
  color: #000000;
  position: absolute;
  top: 202px;
  left: 80px;
  font-family: Inter; /* already inherited from .page parent class */
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 28px;
}

/* 1.Header task 8: typography: 4 */
.header__description {
  max-width: 683px;
  /*margin: 202px 50px 20px 80; /*shorthand: top, right, bottom, left */
  position: absolute;
  top: 350px;
  left: 80px;
  font-family: Noto Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

/* 1.Header task 7: span tag portion  typography: 2 */
.header__span-accent {
  font-family: "Noto Serif", "Times New Roman" sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 10px;
  color: #2f80ed;
}

.header__image {
  max-width: 646px;
  max-height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

/* typography: 5 */
.header__paragraphs {
  /* display: flex;
  justify-content: flex-end; */
  border: 2px solid #17cd32; /* just to check alignment of elements */
  position: absolute;
  bottom: 40px;
  left: 80px;
  width: 95%; /* to make room to push address p tag far to the right */
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px; /* already inherited from .page parent class */
  line-height: 20px; /* already inherited from .page parent class */
}

.header__paragraph {
  border: 2px double #e65019; /* just to check alignment of elements */
  margin: 0;
  padding: 0;
}

/* BEM: block__element_key_value (modifier) */
.header__paragraph_content_address {
  position: absolute;
  right: 80px;
  margin-bottom: 40px;
}

/* Task 1: Header: step 1 (logo block) in brief */
.logo {
  width: 125px;
  height: 142px;
  position: absolute;
  top: 30px;
  left: 30px;
}

/* nav block  typography: 1 */
.nav {
  display: flex;
  justify-content: flex-end; /* this worked */
  align-items: center;
  margin-top: 30px;
  margin-right: 80px;
  border: 2px dashed rgb(71, 13, 220); /* just for aligning elements */
  font-family: Inter; /* already inherited from .page parent class */
  font-style: normal;
  font-weight: 500;
  font-size: 16px; /* already inherited from .page parent class */
  line-height: 20px; /* already inherited from .page parent class */
}

/*element of nav block steps 1-5 */
.nav__links {
  list-style: none;
  padding-left: 0;
  margin-top: 8px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 0px;
}

.nav__link:hover {
  color: #2f80ed;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  transition: color linear 0.5s; /* hover state created */
}

/* 2 the sections contained within main */
.menu {
  padding-top: 100px;
  background-image: url("../images/background_menu.svg");
  background-color: #041b38;
}

/*Typography 1: */
.menu__title {
  color: #ffffff;
  margin-left: 750px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

/*Typography 2: */
.menu__subtitle {
  color: #ffffff;
  margin-bottom: 90px;
  text-align: center;
  font-family: Noto Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  margin-left: 80px;
  max-width: 80vw; /*to stretch out the card list-dividers ( the underscores )*/
  color: #ffffff;
  display: flex; /* this establishes a row by default making the main axis (x) */
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  /*border: 2px solid #e65019; /* just for aligning elements */
  row-gap: 50px; /* adjusts the cross axis which is in this case col (y) */
}

.card {
  flex-basis: 40%; /* adjusting the size of the menu cards with this. */
}

.card__filter {
  margin-left: 40px; /* this also pushes the .card__espresso to the right */
}

.card__espresso {
}

/* this is the "Baked Goods" card block which I want to move to next row and center it. */
.card__baked-goods {
  margin-left: 70px;
  margin-bottom: 0px;
}

.card__content {
  /*display: flex;*/
  /*flex-direction: row;*/
}

/*Typography 3: */
.card__title {
  /*display: flex;*/
  margin-left: 40px; /*to align the titles: Filter, Espresso, etc with the card__list-item elements*/
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

/*Typography 4: */
.card__list-item {
  display: flex;
  flex-direction: column; /* this makes the column the main axis and cross axis is then row */
  font-family: Noto Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.card__coffee-size {
  display: flex;
  flex-direction: row;
}

.card__list-divider {
  border-bottom: 1px solid rgb(255, 255, 255);
  flex-grow: 0.7; /*affects the length of the list-divider ( underscore )*/
}

/* Brief: task 3 Section: Recipes */
.recipes {
  background-color: #ffffff;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 2px solid #e65019;
}

/* Recipe Typography 1: */
.recipes__title {
  max-width: 580px;
  margin-left: 80px;
  margin-top: 100px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

/* Recipe Typography 2: */
.recipes__subtitle {
  margin-left: 80px;
  margin-bottom: 80px;
  font-family: Noto Serif;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
}

/* .recipe__videos element containing the two videos */
.recipes__videos {
  display: flex;
  justify-content: space-around;
  /*flex-grow: 630px;*/
  flex-wrap: wrap;
  max-width: 1200px;
  align-items: center;
  margin-left: 170px;
  margin-bottom: 215px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  margin-bottom: 24px;
}

/* 3. Recipe Typography 3: */
.recipes__video-caption {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
  column-gap: 220px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

/* 4. reservation section */
/* START OF FORM ELEMENTS */
.reservation {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  align-content: center;
  border: 2px solid #17cd32;
  background-image: url("../images/background_reservation.svg");
  background-color: rgb(222, 236, 247);
}

.reservation__title {
  border: 2px solid #5117cd;
  margin-left: 640px;
  max-width: 300px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 80px;
  /*Typography 1: */
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  display: block;
  width: 385px;
  column-gap: 29px;
  border: 2px solid #1f0de4;
  text-align: center;
  margin: 0 auto;
}

.form__fieldset {
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 30px;
  /*max-width: 385px;*/
  padding: 0;
  color: #838383;
  border: none;
  margin-left: 0;
  margin-right: 0;
}

.form__label {
  display: inline;
  max-width: 385px;
  /*Typography: 2 */
  font-family: Inter;
  font-size: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 8px;
  margin: auto;
}

.form__input {
  /*margin-left: 20px;*/
  height: 60px;
  margin-top: 8px;
  /*Typography: 3 */
  font-family: Inter;
  font-size: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  width: 385px;
  margin-bottom: 32px;
}

.form__input-checkbox {
  width: 20px;
  height: 20px;
  margin-left: 62px;
  border-radius: 2px;
  background-color: #2f80ed;
  background-image: url("../images/check.svg");
}

.form__input-checkbox-label {
  margin-left: 12px; /*this is for the <span> 12px away from checkbox on the left */
}

.form__button {
  width: 385px;
  height: 60px;
  margin-bottom: 30px;
  background-color: #2f80ed;
  color: #ffffff;
  border-radius: 4px;
  transition: opacity ease-in-out 0.3s;
  opacity: 100%;
  /*Typography: 4 */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button:hover {
  opacity: 70%;
}
/* END OF FORM ELEMENTS */

/* 5. about section */
.about {
  display: flex;
  padding: 100px 80px; /* height width */
  background-color: #0a0da4;
  color: #ffffff;
  position: relative;
  box-sizing: border-box;
  z-index: 1;
  overflow: hidden;
}

.about__title {
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: 251px;
  border: 2px solid #17cd32;
  line-height: 5px;
}

.about__title-coffee-shop {
  margin-top: 30px;

  /* <span> tag to adjust coffee shop <h2> text margin-top down a bit. */
}

.about__content {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  margin-left: 720px;
}

.about__paragraph {
  max-width: 660px;
  margin-right: 80px;
}

.about__circle {
  background-color: #2f80ed;
  width: 495px;
  height: 495px;
  border-radius: 100%; /*combination of border-radius and position absolute makes a perfect circle*/
  position: absolute;
  top: -121px;
  left: -91px;
  z-index: -1;
}

/* 6. footer section */
.footer {
}
