@import "../vendor/normalize.css";

/* Import the block's associated css files here */

/* header-block */
@import url("../blocks/header-block.css");

/* nav-block */
@import url("../blocks/nav-block.css");

/* menu-block */
@import url("../blocks/menu-block.css");

/* card-block */
@import url("../blocks/card-block.css");

/* recipes-block */
@import url("../blocks/recipes-block.css");

/* reservation-block */
@import url("../blocks/reservation-block.css");

/* form-block */
@import url("../blocks/form-block.css");

/* about-block */
@import url("../blocks/about-block.css");

/* footer-block */
@import url("../blocks/footer-block.css");

/* step 6 */
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto; /* so the block is centered for screens over 1600px wide ?? */
  font-family: "Inter", "Arial" sans-serif;
  font-size: 16px;
  line-height: 20px;
}

/* keyframe: pulsate for animating the about circle class: .about__circle_animation_blurred */

@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
