@import "../vendor/normalize.css";

/* Import the block's associated css files here */

/* header-block */
@import url("../blocks/header.css");

/* nav-block */
@import url("../blocks/nav.css");

/* menu-block */
@import url("../blocks/menu.css");

/* card-block */
@import url("../blocks/card.css");

/* recipes-block */
@import url("../blocks/recipes.css");

/* reservation-block */
@import url("../blocks/reservation.css");

/* form-block */
@import url("../blocks/form.css");

/* about-block */
@import url("../blocks/about.css");

/* footer-block */
@import url("../blocks/footer.css");

/* step 6 */
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto; /* so the block is centered for screens over 1600px wide ?? */
  font-family: "Inter", "Arial" sans-serif;
  font-size: 16px;
  line-height: 20px;
}
